body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.game-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(178, 203, 219);
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.quiz-word {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    margin-bottom: 10px;
}

form button {
    padding: 5px 10px;
    background-color: rgb(19, 88, 125);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(19, 88, 125);
}

form button:hover {
    background-color: rgb(255, 197, 81);
    color: rgb(19, 88, 125)
}

.passes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.passes p {
    background-color: rgb(255, 197, 81);
    padding: 5px 20px;
    color:rgb(164, 25, 0);
}